# ---------- CORE ----------
numpy
opencv-python
matplotlib
pandas

# ---------- PYTORCH ----------
torch
torchvision

# ---------- YOLO ----------
ultralytics

# ---------- OPTIONAL ----------
 roboflow       # REMOVE (causes pillow-avif source build on Windows)
 fiftyone       # REMOVE (causes tons of source builds)
 jupyterlab   
